/*custom css*/

div.dataTables_wrapper div.dataTables_filter input {
    display: inline-block !important;
    width: auto !important;
    margin-bottom: 0 !important;
    margin-left: 0.5em;
    border: 1px solid #0c2c56 !important;
    height: 28px !important;
	padding:0px 5px !important; 
}

div.dataTables_wrapper div.dataTables_filter input[type=search]:focus:not([readonly]) {     box-shadow: inherit !important; }

div.dataTables_wrapper div.dataTables_filter label {
    font-size: 16px !important;
    color: #0c2c56 !important;
    font-weight: 600 !important;
}

.grey-text.text-lighten-4 {
    color: #f5f5f5 !important;
    border: 1px solid #ccc !important;
    padding: 4px 20px !important;
	font-weight:600 !important; 
}

.grey-text.text-lighten-4:hover { background-color:#ccc !important; 
color: #0c2c56 !important; }

.btn-floating {
    background-color: #0c2c56 !important;
}

.card-content span.badge.new {
    background-color: #E9C937 !important;
    position: absolute !important;
    top: 25px !important;
    right: 25px  !important;
}

.show .teal-text {
    color: #0c2c56 !important;
}

.card-content a.right.data-delete {
	float: none !important;
}

.side-nav .divider {
    height: 1px;
    overflow: hidden;
    background-color: inherit !important;
}

.side-nav  li {
    border-bottom: 1px solid #eee !important;
}
.side-nav li:first-child {
    border-bottom: 0px solid #eee !important;
}

.user-view {
    text-align: center !important;
    padding: 15px 0px !important;
}

.user-view .background img {
    max-width: 190px !important;
    width: 100% !important;
    margin: 0 auto !important;
}

.side-nav li>a>i.material-icons {
    color: rgb(6 22 43) !important;
}

.side-nav a {
    font-size: 16px !important;
}

#myDataTable form {
   float: none !important;
}

#myDataTable_length select {
    display: block;
}

.dt-foundation #myDataTable form {
   float: none !important;
   display:inline-block !important;
}
.btn-large.waves-effect {
	background: none !important;
	height: auto !important;
	padding: 0 !important
}

.btn-large.waves-effect:hover {
	box-shadow: none;
}


.waves-effect input {
	height: 54px;
	background-color: #fdbb08 !important;
    transition: .3s ease-out;
	border-radius: 0.2em;
    padding: 0 2rem;
}
.waves-effect input:hover {
	background-color: #f3a230 !important;
	box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}
.waves-ripple {
	position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;	
    z-index: 9999;
}
.fixed-action-btn {
	right: 12px !important;
    bottom: 84px !important;
}
.teal-text{ color:#0c2c56 !important;}